<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Connexion à l'administration</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		{{ encore_entry_link_tags('css/app') }}

		<style>
			body {
				display: flex;
				justify-content: center;
				min-height: 100vh;
			}
		</style>
	</head>
	<body>
		<div class="col-md-6">
			<div id="admin" class="card bg-light ">
				<div class="card-header">
					<h4 class="card-title">
						<i class="fas fa-lock"></i>
						Connexion à l'administration
					</h4>
				</div>
				<div class="card-body">

					{% if hasError %}

						<div class="alert alert-warning">
							<p>Les informations que vous avez fourni ne sont pas bonnes</p>
						</div>
					{% endif %}

					<form method="post">
						<div class="form-group mt-4">
							<label for="_username">Email</label>
							<input type="text" name="_username" class="form-control login-form" value="{{ username }}">
						</div>
						<div class="form-group mt-5">
							<label for="_password">Mot de passe</label>
							<input type="password" name="_password" class="form-control login-form">
						</div>
						<div class="form-group">
							<button id="login-admin" type="submit" class="my-2">
								<i class="fas fa-lock-open"></i>
								Connexion
							</button>
							<a href="{{ path('homepage') }}" class="btn btn-link">
								<i class="fas-fa-arrow-circle-left"></i>
								Retour au site
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script>
			const inputs = document.querySelectorAll('input');

for (let i = 0; i < inputs.length; i++) {

let field = inputs[i];

field.addEventListener('input', (e) => {

if (e.target.value != "") {
e.target.parentNode.classList.add('animation');
} else if (e.target.value == "") {
e.target.parentNode.classList.remove('animation');
}

})

}
		</script>
	</body>
</html>
