{% extends "base.html.twig" %}

{% block title %}Modification du mot de passe
{% endblock %}

{% block body %}

	<div class="container clearfix">
		<h1 class="h1 my-5">Modification du mot de passe</h1>

		<div class="row d-flex justify-content-center">
			<div div class="col-8 my-4">
				{{ form_start(form) }}
				{{ form_widget(form) }}

					<button type="submit" class="btn btn-primary float-right my-5">
						<i class="fas fa-check"></i>
						Modifier le mot de passe
					</button>
				{{ form_end(form) }}
			</div>

		</div>


	</div>
{% endblock %}
