<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<a class="navbar-brand logo" href="{{path('homepage')}}">SymBNB</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" href="{{path('homepage')}}">Accueil</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('ads_index')}}">Annonces</a>
			</li>
			{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('cart_index')}}">Panier</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('cart_payment')}}">Paiement</a>
				</li>
			{% endif %}
		</ul>
		<ul class="navbar-nav ml-auto">
			{% if app.user %}
				<li class="nav-item dropdown">
					<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
						<img src="{{ app.user.picture }}" alt="avatar de {{ app.user.fullName }}" class="avatar avatar-mini">
						{{ app.user.fullName }}
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
						<a href="{{ path('ads_create') }}" class="dropdown-item">Créer une annonce</a>
						<div class="dropdown-divider"></div>
						<a href="{{ path('account_index', {'slug' : app.user.slug}) }}" class="dropdown-item">Mon compte</a>
						<a href="{{ path('account_bookings') }}" class="dropdown-item">Mes réservations</a>
						<a href="{{ path('account_profile', {'slug' : app.user.slug}) }}" class="dropdown-item">Modifier mon profil</a>
						<div class="dropdown-divider"></div>
						<a href="{{ path('cart_index')}}" class="dropdown-item">Panier</a>
						<a href="#" class="dropdown-item">Paiement</a>
						<div class="dropdown-divider"></div>
						<a href="{{ path('account_logout') }}" class="dropdown-item text-danger">Déconnexion</a>
					</div>

				</li>
			{% else %}
				<li class="nav-item">
					<a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('account_login') }}" class="nav-link">Connexion</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>

{% for label, messages in app.flashes %}

	<div class="container">
		<div class="alert alert-{{ label }}">
			{% for message in messages %}
				<p>{{ message | raw }}</p>
			{% endfor %}
		</div>
	</div>
{% endfor %}
