<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>

			SymBNB -
			{% block title %}{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="{{ asset('images/buy-home.png') }}" />	<link rel="icon" href="{{ asset('images/buy-home.png') }}" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		{{ encore_entry_link_tags('css/app') }}
		 {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% include "admin/partials/header.html.twig" %}

			{% block body %}{% endblock %}

			{% include "admin/partials/footer.html.twig" %}

			{{ encore_entry_script_tags('js/app') }}	
			{% block javascripts %}{% endblock %}
		</body>
	</html>
		
	</body>
	</html>
