{% extends "base.html.twig" %}

{% block title %}Réservation n°{{ booking.id }}
{% endblock %}

{% block body %}

	{% set ad = booking.ad %}
	{% set author = ad.author %}

	<div class="container d-flex flex-column align-items center">
		<div class="d-flex justify-content-between align-items-center">
			<h1 class="my-5">Votre réservation (n°{{ booking.id }})</h1>
			<a title="Télécharger ma réservation" href="{{ path('booking_pdf', { 'id' : booking.id }) }}" class="btn btn-info">
				<i class="fas fa-download"></i>
			</a>
		</div>

		{% if app.request.query.get('success') %}
			<div class="alert alert-success">
				<h4 class="alert-heading">Bravo votre réservation a eu lieu avec succès !</h4>

				<p>
					Votre réservation auprès de
					<strong>
						<a href="{{ path('user_show', {'slug' : author.slug}) }}">{{ author.fullName }}</a>
					</strong>
					pour l'annonce
					<strong>
						<a href="{{ path('ads_show', {'slug' : ad.slug}) }}">{{ ad.title }}</a>
					</strong>
					a bien été prise en compte !
				</p>
				<p>
					Veuillez valider votre panier afin de finaliser votre réservation
				</p>
				{# TODO: Vérifier si la réervation est dans le panier #}
				<a href="{{path('cart_add', {'id' : booking.id}) }}" class="btn btn-success">Ajouter au panier
					<i class="fas fa-shopping-basket"></i>
				</a>
			</div>
		{% endif %}


		<div class="row">
			<div class="col">
				<div class="alert alert-light">
					<h2>Détails</h2>
					<dl class="row">
						<dt class="col-md-4">Numéro</dt>
						<dd class="col-md-8">{{ booking.id }}</dd>
						<dt class="col-md-4">Date d'arrivée</dt>
						<dd class="col-md-8">{{ booking.startDate | date('d/m/Y') }}</dd>
						<dt class="col-md-4">Date de départ</dt>
						<dd class="col-md-8">{{ booking.endDate | date('d/m/Y') }}</dd>
						<dt class="col-md-4">Nombre de nuits</dt>
						<dd class="col-md-8">{{ booking.duration }}</dd>
						<dt class="col-md-4">Montant total</dt>
						<dd class="col-md-8">{{ booking.amount | number_format(2,',','')}}
							&euro;</dd>
						<dt class="col-md-4">Commentaire</dt>
						<dd class="col-md-8">{{ booking.comment | default('Aucun commentaire ..')}}</dd>
					</dl>

					<hr>

					<h2 class="alert-heading">Votre hôte</h2>
					<div class="row mb-3">
						<div class="col-3">
							<img src="{{ author.picture }}" class="avatar avatar-medium" alt="L'avatar de {{ author.fullName }}">
						</div>
						<div class="col">
							<h4>
								<a href="{{ path('user_show', {'slug' : author.slug}) }}">{{ author.fullName }}</a>
							</h4>
							<span class="badge badge-primary">{{ author.ads | length }}
								annonces</span>
						</div>
					</div>

					{{ author.description | raw }}

					<a href="{{ path('user_show', {'slug' : author.slug}) }}" class="btn btn-primary">Plus d'infos sur
						{{ author.firstName }}</a>
				</div>

				<div class="alert alert-light" id="comment">

					<h2 class="alert-heading">Votre avis compte !</h2>
					{# Si la date d'aujourdh'ui est supérieur à la date de départ :: signe à changer '<'   =>   '>' #}
					{% if date() > date(booking.endDate) %}

						{% set comment  = booking.ad.commentFromAuthor(app.user) %}
						{# Si l'utilisateur a déjà commenté l'annonce #}
						{% if comment is not null %}
							<blockquote>
								{{ comment.content }}
							</blockquote>

							<strong>Note:
								{% include "partials/rating.html.twig" with {'rating' : comment.rating} %}</strong>

						{% else %}

							{{ form_start(form) }}
							{{ form_widget(form) }}
							<button type="submit" class="btn btn-success">Envoyer</button>
							{{ form_end(form) }}
						{% endif %}
					{% else %}
						<p>Vous ne pourrez pas noter cette annonce tant que votre voyage ne sera pas complet !</p>
					{% endif %}
				</div>
			</div>

			<div class="col">

				<div class="alert laert-light">
					<h2 class="alert-heading">Votre hébergement</h2>

					<h4>
						<a href="{{ path('ads_show', { 'slug' : ad.slug }) }}">{{ ad.title }}</a>
					</h4>

					<img src="filname" alt="Image de {{ ad.title }}" class="img-fluid">

					<div style="color: black;">
						{{ ad.content | raw }}
					</div>

					<div
						class="d-flex justify-content-between">
						{# <a href="{{ path('ads_show', { 'slug' : ad.slug }) }}" class="btn btn-primary">Plus d'informations</a> #}

						<a href="{{ path('ads_show', { 'slug' : ad.slug }) }}" class="more float-left hvr-icon-pulse-grow">En savoir

							<i class="fas fa-plus-circle hvr-icon"></i>
						</a>

					</div>
					<div class="mt-4 d-flex justify-content-between">
						<a href="{{ path('booking_delete', {'id' : booking.id}) }}" class=" btn btn-danger annuler-reservation">Annuler la réservation</a>
						<a href="#" class="btn btn-success">Valider et payer la réservation</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
