{% extends "admin/base.html.twig" %}

{% block title %}Modification d'un commentaire
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="py-5">Modification du commentaire n°
			{{ comment.id }}</h1>

		<div class="alert alert-info">
			<p>
				<strong>Annonce liée:
				</strong>
				{{ comment.ad.title }}</p>
			<p>
				<strong>Auteur:
				</strong>
				{{ comment.author.fullName }}</p>
			<p>
				<strong>Date de création:
				</strong>
				le
				{{ comment.createdAt | date('d/m/Y') }}
				à
				{{ comment.createdAt | date('H:i') }}</p>
			<p>
				<strong>Note:
				</strong>
				{{ comment.rating }}</p>
		</div>

		<div class="my-5">
			{{ form_start(form) }}

			{{ form_widget(form) }}

			<button type="submit" class="btn btn-primary my-3">
				<i class="fas fa-check"></i>
				Enregistrer les modifications
			</button>

			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
