<!DOCTYPE html>
<html lang="fr">
	<head>

		<meta name="viewport" content="width=device-width, user-scalabla=no">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
		<link rel="icon" href="{{ asset('images/buy-home.png') }}"/>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
		<script src="https://unpkg.com/scrollreveal"></script>
		<link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/651785042804211714/705409343612256266/buy-home.png" type="image/x-icon">
		<script src="https://js.stripe.com/v3/"></script>
		<title>
			SYMBNB -
			{% block title %}{% endblock %}
		</title>

		{{ encore_entry_link_tags('css/app') }}
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include "partials/header.html.twig" %}
		{% endblock %}

		{% block body %}{% endblock %}
		{% block footer %}

			{% include "partials/footer.html.twig" %}
		{% endblock %}

		<script src="https://js.stripe.com/v3/"></script>
		{{ encore_entry_script_tags('js/app') }}
		{% block javascripts %}{% endblock %}
	</body>
</html>
