{% extends "base.html.twig" %}

{% block title %}
	{{ ad.title }}
{% endblock %}

{% block body %}

	<div class="new-title" style="background-image: url({{ vich_uploader_asset(ad, 'imageFile') }});">

		<div class="container">
			<h1>{{ ad.title }}</h1>
			<p>{{ ad.introduction }}</p>

			<p class="h2">
				<strong>{{ ad.rooms }}
					chambre(s)</strong>
				pour
				<strong>{{ad.price | number_format(2,',','')}}
					&euro; / nuit</strong>
			</p>
			<a href="{{ path('booking_create', {'slug' : ad.slug, 'id': ad.id}) }}" class="btn btn-primary">Réserver </a>

			{% if app.user and app.user == ad.author %}

				<a href="{{ path('ads_edit', {'slug' : ad.slug }) }}" class="btn btn-secondary ml-4 mr-4">Modifier l'annonce</a>
				<a href="{{ path('ads_delete', {'slug' : ad.slug}) }}" onclick="return confirm(`Êtes vous sur de vouloir supprimer l'annonce: {{ ad.title }} ?`)" class="btn btn-danger">Supprimer l'annonce</a>
			{% endif %}
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 mb-3">
				<h2 class="my-5 my-md-3">Description :</h2>

				{{ ad.content | raw }}

				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						{% for image in ad.images %}
							<li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %} class="active {% endif %}"></li>
						{% endfor %}
					</ol>
					<div class="carousel-inner">

						{% for image in ad.images %}
							<div class="carousel-item {% if loop.first %} active {% endif %}">
								<img src="{{ image.url }}" class="d-block w-100" alt="...">
								<div class="carousel-caption d-none d-md-block">
									<h5>{{ ad.title }}</h5>
									<p>{{ image.caption }}</p>
								</div>
							</div>
						{% endfor %}
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

				<hr>

				{% if ad.comments | length > 0  %}
					<h2 class="my-5 mt-md-3">Commentaires de nos voyageurs:</h2>

					<div class="alert alert-info">
						<h4 class="amert-heading text-center ">
							<div class="row align-items-center">
								<div class="col-12" style="color: black;">
									Note globale donnée par nos voyageurs
								</div>
								<div class="col-12 mt-3">
									{% include "partials/rating.html.twig" with{'rating' : ad.avgRating} %}
									<br>
									<small>
										(Calculé sur
										{{ ad.comments | length }}
										avis !)
									</small>
								</div>
							</div>
						</h4>
					</div>

					{% for comment in ad.comments %}
						<div class="rounded mb-3 py-3 px-3" style=" background-color: rgba(21,140,186, 0.05)">
							<strong>{{ comment.author.firstName }}
								<small>
									le
									{{ comment.createdAt | date('d/m/Y') }}
									à
									{{ comment.createdAt | date('H:i') }}
								</small>:
							</strong>

							<blockquote>
								{{ comment.content }}
							</blockquote>

							<strong>Note données:</strong>
							{% include "partials/rating.html.twig" with {'rating' : comment.rating} %}
						</div>
					{% endfor %}
				{% else %}
					<h2>Cette annonce n'a pas encore reçu de commentaires</h2>
				{% endif %}

			</div>
			<div class="col">

				{% set author = ad.author %}
				<div class="row">
					<div class="col-3">
						<a href="{{ path('user_show', {'slug' : author.slug}) }}">
							<img src="{{ author.picture }}" class="avatar avatar-medium" alt="avatar de {{ author.fullName }}">
						</a>
					</div>
					<div class="col">
						<a href="{{ path('user_show', {'slug' : author.slug}) }}">
							<h3>{{ author.fullName }}</h3>
						</a>
						<span class="badge badge-primary">{{ author.ads | length }}
							annonces</span>
						<p>{{ author.description | raw }}</p>
					</div>
				</div>

			</div>
		</div>
	</div>

{% endblock %}
