{% extends 'base.html.twig' %}

{% block title %}Page de
	{{ user.fullName }}
	!
{% endblock %}

{% block body %}

	<div id="account" class="container">
		<div class="row align-items-center mb-5">

			<div class="offset-md-3 col-md-6 infos">
				<h1 class="text-center mt-3">{{ user.fullname }}</h1>

					<img src="{{ user.picture }}" class="avatar text-center" alt="Avatar de {{ user.fullName }}"><br>
					<span class="badge badge-primary text-center">{{ user.ads | length }}
					annonces</span>

				{% if user is same as(app.user) %}
					<div class="mt-3 text-center">
						<a href="{{ path('account_profile', {'slug' : user.slug }) }}" class="btn btn-primary mr-2 mb-2">Modifier mes informations</a>
						<a href="{{ path('account_password', {'slug' : user.slug}) }}" class="btn btn-primary mb-2">Changer de mot de passe</a>
					</div>
				{% endif %}
			</div>
			<div class="col-md-3 text-center">
			
			</div>
		</div>
		<p class="text-center">
			{{ user.description | raw }}</p>

		<hr>

		<h2 class="text-center">Les annonces de
			{{ user.fullName }}</h2>

		{% if user.ads | length > 0 %}

			<div class="row">
				{% for ad in user.ads %}
					{% include 'ad/_ad.html.twig' %}
				{% endfor %}
			</div>
		{% else %}
			<div class="alert alert-warning">
				<p>
					<strong>{{ user.fullName }}</strong>
					n'a pas encore d'annonce sur le site.</p>
			</div>
		{% endif %}

	</div>
{% endblock %}
